---
layout: default
title: Explore the Area | Daun Retreats

hero:
  title: "Explore the Area"
  subtitle: "Or Book a Villa Directly"
  slides:
    - image: "/assets/images/explore/Sungai-Congkak_Riverside-Nature_02.webp"
      caption: "Sungai Congkak"
    - image: "/assets/images/explore/Terapung-Restoran_Main-Deck-Exterior.webp"
      caption: "Restoran Terra Pong"

  button_text: "Book Now"
  button_link: "https://secure.guestpro.net/daun-retreats/booking"

welcome:
  title: "Discover Hulu Langat"

  background: "/assets/images/explore/Sungai-Congkak_Riverside-Nature_02.webp"

  description: |
    From waterfalls and forest rivers to local eateries and gentle countryside views, Hulu Langat offers a soothing escape into nature. These nearby experiences are ideal for relaxed days out during your stay.

sungai_congkak:
  title: "Sungai Congkak"
  description: |
    Sungai Congkak is a peaceful forest river park known for its clear, cool waters and shaded picnic spots. It’s a beautiful place to unwind, enjoy nature, and spend quiet moments by the river with family and friends.

  slides:
    - image: "/assets/images/explore/Sungai-Congkak_Forest-River-View_01.webp"
    - image: "/assets/images/explore/Sungai-Congkak_Rocky-Stream-Flow_01.webp"
    - image: "/assets/images/explore/Sungai-Congkak_Sunlit-Riverbank.webp"

skytrex:
  title: "Skytrex Sungai Congkak"
  description: |
    Skytrex offers a fun outdoor adventure experience set within the rainforest canopy. Guests can enjoy sky-high obstacle courses and zip lines designed for different confidence levels, making it a great choice for those seeking a little excitement in nature.

  slides:
    - image: "/assets/images/explore/Sungai-Congkak_Riverside-Nature_02.webp"
    - image: "/assets/images/explore/Sungai-Congkak_Vertical-Forest-Stream.webp"

restoran:
  title: "Restoran Terra Pong"
  description: |
    A favourite local dining spot, Restoran Terra Pong serves comforting Malaysian dishes in a relaxed and welcoming setting. It’s the perfect place to unwind and enjoy a casual meal after exploring the area.

  slides:
    - image: "/assets/images/explore/Terapung-Restoran_Main-Deck-Exterior.webp"
    - image: "/assets/images/explore/Terapung-Restoran_Pond-Waterfall.webp"
    - image: "/assets/images/explore/Terapung-Restoran_Riverside-Chalets.webp"

fishing_resort:
  title: "Hulu Langat Fishing Resort"
  description: |
    This serene fishing resort features calm waters surrounded by lush greenery, ideal for guests who want to unwind, enjoy a peaceful atmosphere, or try their hand at freshwater fishing.

  slides:
    - image: "/assets/images/explore/hulu-langat-fishing-resort1.webp"
    - image: "/assets/images/explore/hulu-langat-fishing-resort2.webp"

cta:
  title: |
    We look forward to welcoming you to daun retreats
  background: "/assets/images/explore/Sungai-Congkak_Riverside-Nature_02.webp"
  button_text: "Book Now"
  button_link: "https://secure.guestpro.net/daun-retreats/booking"

collection:
  title: "OUR COLLECTION"

  groups:
    - title: "Private Villas for Overnight Stays"
      items:
        - name: "Gerimis Senja Villa"
          image: "/assets/images/gerimis-senja/Villa_Exterior_Entrance.webp"
          description: "A Balinese-inspired retreat nestled in the forest, thoughtfully designed for larger groups seeking both privacy and peace."
          button: "/gerimis-senja"
          features:
            items:
              - icon: "/assets/images/icons/door-icon.png"
                description: "3 Bedrooms"
              - icon: "/assets/images/icons/shower-icon.png"
                description: "3 Bathrooms + Outdoor Bathtub"
              - icon: "/assets/images/icons/person-icon.png"
                description: "Up to 15 adults + 6 kids"
              - icon: "/assets/images/icons/pool-icon.png"
                description: "Private Infinity Pool"
              - icon: "/assets/images/icons/car-icon.png"
                description: "Parking for up to 6 cars"

        - name: "Kozu Villa"
          image: "/assets/images/kozu/Kozu_Villa_Pool_and_Villa_Exterior.webp"
          description: "A serene Japanese-style villa that embraces minimalist design and offers a peaceful retreat surrounded by nature."
          button: "/kozu"
          features:
            items:
              - icon: "/assets/images/icons/door-icon.png"
                description: "3 Bedrooms"
              - icon: "/assets/images/icons/shower-icon.png"
                description: "2 Bathrooms"
              - icon: "/assets/images/icons/person-icon.png"
                description: "Up to 8 adults + 3 children"
              - icon: "/assets/images/icons/pool-icon.png"
                description: "Private Swimming Pool"
              - icon: "/assets/images/icons/tree-icon.png"
                description: "20,000 sqft Compound"
              - icon: "/assets/images/icons/pin-icon.png"
                description: "Close to Sungai Gabai Waterfall"

        - name: "Kasturi Cabin"
          image: "/assets/images/kasturi-cabin/Kasturi_Cabin_Exterior_Entrance.webp"
          description: "An eco-friendly container villa surrounded by lush forest views, thoughtfully blending modern comfort with the beauty of nature."
          button: "/kasturi-cabin"
          features:
            items:
              - icon: "/assets/images/icons/door-icon.png"
                description: "3 Bedrooms"
              - icon: "/assets/images/icons/shower-icon.png"
                description: "2 Bathrooms"
              - icon: "/assets/images/icons/person-icon.png"
                description: "Up to 8 guests"
              - icon: "/assets/images/icons/pool-icon.png"
                description: "Private Infinity Pool"
              - icon: "/assets/images/icons/tree-icon.png"
                description: "Hill & Forest Views"
              - icon: "/assets/images/icons/pin-icon.png"
                description: "Indoor & Outdoor Pantry"

    - title: "Photoshoot & Filming Locations"
      items:
        - name: "Heritage Kampung Home"
          image: "/assets/images/heritage-kampung-home/heritage-kampung-home-full-facade.webp"
          description: "A beautifully preserved traditional kampung house that offers an authentic glimpse of heritage surrounded by nature’s calm."
          button: "/heritage"
          features:
            items:
              - icon: "/assets/images/icons/camera-icon.png"
                description: "Photoshoots Only"
              - icon: "/assets/images/icons/film-icon.png"
                description: "Film Shoots Allowed"
              - icon: "/assets/images/icons/wood-beam-icon.png"
                description: "Traditional Kampung Architecture"
              - icon: "/assets/images/icons/tree-icon.png"
                description: "Rustic & Cultural Setting"
              - icon: "/assets/images/icons/stop-icon.png"
                description: "No Overnight Stays"

        - name: "Norehan’s Place"
          image: "/assets/images/norehans-place/norehans-place-full-villa-facade.webp"
          description: "A classic bungalow set on spacious grounds, thoughtfully designed for elegant photoshoots and inspiring film projects."
          button: "/heritage"
          features:
            items:
              - icon: "/assets/images/icons/camera-icon.png"
                description: "Photoshoots Only"
              - icon: "/assets/images/icons/film-icon.png"
                description: "Film Shoots Allowed"
              - icon: "/assets/images/icons/pool-icon.png"
                description: "Large Pool"
              - icon: "/assets/images/icons/tree-icon.png"
                description: "3-Acre Grounds"
              - icon: "/assets/images/icons/home-icon.png"
                description: "Timeless Architecture"
              - icon: "/assets/images/icons/stop-icon.png"
                description: "No Overnight Stays"
---

{% include section-hero.html section=page.hero %}
<div id="hulu-langat">
  {% include section-welcome.html section=page.welcome %}
</div>

<div id="sungai-congkak">
  {% include section-property-carousel.html section=page.sungai_congkak
  id="sungai-congkak" bg_color="bg-[#FBF8EF]" %}
</div>

<div id="skytrex-sungai-congkak">
  {% include section-property-carousel.html section=page.skytrex id="skytrex"
  bg_color="bg-[#F1EBD8]" %}
</div>

<div id="restoran-terra-pong">
  {% include section-property-carousel.html section=page.restoran id="restoran"
  bg_color="bg-[#FBF8EF]" %}
</div>

<div id="fishing-resort">
  {% include section-property-carousel.html section=page.fishing_resort
  id="fishing-resort" bg_color="bg-[#F1EBD8]" %}
</div>

{% include section-cta.html section=page.cta %} {% include
section-collection.html section=page.collection %}
