---
layout: default
title: Gerimis Senja Villa | Daun Retreats

hero:
  title: "GERIMIS SENJA VILLA"
  subtitle: "Balinese-Inspired Retreat in Hulu Langat."
  slides:
    - image: "/assets/images/index/hero.jpg"
      caption: "Master Bedroom"
    - image: "/assets/images/index/hero1.jpg"
      caption: "Kozu Villa"
    - image: "/assets/images/index/hero2.jpg"
      caption: "Kasturi Cabin"
  button_text: "Book Now"
  button_link: "/booking"

welcome:
  title: "Tranquility surrounded by lush greenery."

  background: "/assets/images/index/hero.jpg"

  description: |
    Gerimis Senja Villa is a Balinese-inspired retreat tucked deep within the lush woodlands of Hulu Langat. Designed with open-air living spaces, a thatched roof, and natural materials like timber and stone, the villa blends effortlessly with its forest setting. Soft light, gentle breezes, and the rhythm of nature create a calm, restorative atmosphere that’s perfect for guests seeking privacy, relaxation, and a peaceful escape from city life.

property:
  title: "Property Details"
  button_text: "Book Now"
  button_link: "#booking"

  items:
    - icon: "/assets/images/icons/door-icon.png"
      text: "3 Bedrooms"

    - icon: "/assets/images/icons/shower-icon.png"
      text: "3 Bathrooms + Outdoor Bathtub"

    - icon: "/assets/images/icons/person-icon.png"
      text: "Up to 15 adults + 6 kids"

    - icon: "/assets/images/icons/pool-icon.png"
      text: "Private Infinity Pool"

    - icon: "/assets/images/icons/car-icon.png"
      text: "Parking for up to 6 cars"

gallery:
  images:
    main: "/assets/images/index/hero.jpg"
    side_top: "/assets/images/index/hero1.jpg"
    side_bottom: "/assets/images/index/hero2.jpg"

stay:
  title: "Your Stay at Gerimis Senja Villa"

  background: "/assets/images/index/hero.jpg"

  description: |
    Gerimis Senja Villa can comfortably accommodate up to 15 adults and 6 children. To maintain a peaceful environment for all guests, day visitors are not permitted, and on-site surveys are not allowed.

    Check-in begins at 2:00 PM, and check-out is at 11:00 AM.
---

{% include section-hero.html section=page.hero %} {% include
section-welcome.html section=page.welcome %} {% include
section-property-details.html section=page.property %} {% include
section-gallery.html section=page.gallery %} {% include section-welcome.html
section=page.stay %}
